services:
  lowkey-vault:
    container_name: akv-example-lowkey-vault
    image: nagyesta/lowkey-vault:2.11.1
    ports:
      - "10443:10443"
    volumes:
      - vault-import:/import/:ro
    environment:
      LOWKEY_ARGS: >
        --server.port=10443
        --LOWKEY_VAULT_NAMES=- 
        --LOWKEY_IMPORT_LOCATION=/import/keyvault.json.hbs
  mysql:
    container_name: akv-example-mysql
    image: mysql:8.0.41
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: 5b8538b6-2bf1-4d38-94f0-308d4fbb757b
    ports:
      - '23306:3306'
volumes:
  vault-import:
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "lowkey-vault/import"
