services:
  localstack:
    container_name: aws-example-localstack
    image: localstack/localstack:1.4.0
    ports:
      - "14566:4566"
    environment:
      LAMBDA_DOCKER_NETWORK: 'my-local-aws-network'
      LAMBDA_REMOTE_DOCKER: 0
      SERVICES: 'secretsmanager'
      DEFAULT_REGION: 'us-west-2'
    volumes:
      - secrets-import:/docker-entrypoint-initaws.d:ro
  mysql:
    container_name: aws-example-mysql
    image: mysql:8.4.3
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: e8ce8764-dad6-41de-a2fc-ef905bda44fb
    ports:
      - '13306:3306'
volumes:
  secrets-import:
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "localstack"
