services:
  mysql:
    container_name: baseline-example-mysql
    image: mysql:9.0.0
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: fdc778dd-12be-4e05-9504-95c940360c5d
    ports:
      - '14306:3306'
