# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: JavaCI-PR

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions: read-all

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module: [ baseline, aws, azure, vault ]
        include:
          - module: baseline
            name: Baseline
            directory: baseline-demo
          - module: aws
            name: AWS Secrets Manager
            directory: aws-secrets-manager-demo
          - module: azure
            name: Azure Key Vault
            directory: azure-key-vault-demo
          - module: vault
            name: Self-hosted Vault
            directory: self-hosted-vault-demo
    steps:
      # Set up build environment
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
        with:
          fetch-depth: 0
      - name: Set up JDK 11
        uses: actions/setup-java@5ffc13f4174014e2d4d4572b3d74c3fa61aeb2c2 # v3.11.0
        with:
          distribution: temurin
          java-version: 11
      - name: Build ${{ matrix.name }} project with Gradle
        uses: gradle/gradle-build-action@40b6781dcdec2762ad36556682ac74e31030cfe2 # v2.5.1
        with:
          build-root-directory: ${{ matrix.directory }}
          arguments: bootRun
