# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: JavaCI-PR

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions: read-all

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module: [ baseline, aws, azure, vault ]
        include:
          - module: baseline
            name: Baseline
            directory: baseline-demo
          - module: aws
            name: AWS Secrets Manager
            directory: aws-secrets-manager-demo
          - module: azure
            name: Azure Key Vault
            directory: azure-key-vault-demo
          - module: vault
            name: Self-hosted Vault
            directory: self-hosted-vault-demo
    steps:
      # Set up build environment
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          fetch-depth: 0
      - name: Set up JDK 11
        uses: actions/setup-java@0ab4596768b603586c0de567f2430c30f5b0d2b0 # v3.13.0
        with:
          distribution: temurin
          java-version: 11
      - name: Build ${{ matrix.name }} project with Gradle
        uses: gradle/gradle-build-action@87a9a15658c426a54dd469d4fc7dc1a73ca9d4a6 # v2.10.0
        with:
          build-root-directory: ${{ matrix.directory }}
          arguments: bootRun
