# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: JavaCI-PR

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions: read-all

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module: [ baseline, aws, azure ]
        include:
          - module: baseline
            name: Baseline
            directory: baseline-demo
          - module: aws
            name: AWS Secrets Manager
            directory: aws-secrets-manager-demo
          - module: azure
            name: Azure Key Vault
            directory: azure-key-vault-demo
    steps:
      # Set up build environment
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3.3.0
        with:
          fetch-depth: 0
      - name: Set up JDK 11
        uses: actions/setup-java@3f07048e3d294f56e9b90ac5ea2c6f74e9ad0f98 # v3.10.0
        with:
          distribution: temurin
          java-version: 11
      - name: Build ${{ matrix.name }} project with Gradle
        uses: gradle/gradle-build-action@6095a76664413da4c8c134ee32e8a8ae900f0f1f # v2.4.0
        with:
          build-root-directory: ${{ matrix.directory }}
          arguments: bootRun
