# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: JavaCI-PR

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions: read-all

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module: [ baseline, aws, azure, vault ]
        include:
          - module: baseline
            name: Baseline
            directory: baseline-demo
          - module: aws
            name: AWS Secrets Manager
            directory: aws-secrets-manager-demo
          - module: azure
            name: Azure Key Vault
            directory: azure-key-vault-demo
          - module: vault
            name: Self-hosted Vault
            directory: self-hosted-vault-demo
    steps:
      # Set up build environment
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
      - name: Set up JDK 11
        uses: actions/setup-java@8df1039502a15bceb9433410b1a100fbe190c53b # v4.5.0
        with:
          distribution: temurin
          java-version: 11
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@cc4fc85e6b35bafd578d5ffbc76a5518407e1af0 # v4.2.1
      - name: Build ${{ matrix.name }} project with Gradle
        run: |
          cd ${{ matrix.directory }}
          ./gradlew bootRun
